ul.social-network{
list-style: none;

padding: 0;
}

ul.social-network li{

    display: inline;
    margin: 0;
    padding: 8px;
}

.fa{

    font-size: 35pt;
    color: aliceblue;
}

.fa-linkedin-square:hover{
    color: black;
}
.fa-instagram:hover{
    color: black;
}
.fa-github-square:hover{
color: black;
}