#img-bg{
    background-image: url('https://mfiles.alphacoders.com/262/262622.jpg');

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}